
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
body {

    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); ;} */
    background-image: url('media/background.jpeg');
    background-position: center;
    background-size: cover;
    font-family: "Great Vibes";
    
  }
.form-container {
 
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}


span {
  font-family: "concert one";
  font-size: xx-large;
  color: rgb(72, 72, 73);
}

form {
  font-family: "concert one";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 50px
}

input {
  
  background-color: rgb(44, 40, 40);
  border: none !important;
  height: 70px;
  width: 150px;
  color: whitesmoke;
  font-size: x-large;
  text-align: center;
}

button {

  font-size: x-large;
  height: 80px;
  width: 150px;
  color: rgb(97, 97, 97);
  background-color: rgb(44, 40, 40);
  border: none;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #5d5454b2,
  inset 3px 3px 7px rgba(114, 115, 117, 0.945);
} 


button:hover {
  box-shadow: none;
  border: rgb(97, 97, 97) groove 3px;
  background-color:  #40c9ff;
  background-image:  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    box-shadow: inset -3px -3px 7px rgba(75, 77, 79, 0.945),
  inset 3px 3px 7px rgba(75, 77, 79, 0.945);
 
}
.layout {
  height: 100vh;
  width:100vw;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.game-container {
  height: 80%;
  width: 85%;
  display: none;

  grid:
    "card1 card2 card3 card4" 1fr
    "card5 card6 card7 card8" 1fr
    "card9 card10 card11 card12" 1fr
    / 23% 23% 23% 23%;
}

.card {
  
  width: 120px;
  height: 120px;
  position: relative;
  perspective: 1000px;
  padding: 8px;
  flex: 1;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 1s;
}

.front {
  background-image: url('media/cardBack.png');
  background-size: contain;
  background-color: #514c4c;
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  background-size: cover;
}

.card.flipped {
  transform: rotateY(180deg);
}
.right {
  border: 5px solid green;
}

.wrong {
  border: 5px solid red;
}

.won {
  background-color: transparent; 
  pointer-events: none;
}

.card.won .front {
  background-color: transparent; 
  pointer-events: none;
  background-image: none;

}

.card.won .back {
  background-color: transparent; 
  pointer-events: none;

}
#newUserForm {
  
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: px;
  width: 400px;

  gap: 20px;
}


#avatarSelection{
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
 

}
#avatarLabel{
grid-row: 1;
text-align: center;}

.avatar-option {
  width:  100px;
  max-height: 100px;
  cursor: pointer;
  opacity: 50%;
 

}

.avatar-option.selected {
  border: 2px solid green;
  opacity: unset;}

#saveUserButton{ margin-top: 20px; 
display: none}

