@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Honk&display=swap');

body {
    margin: 0;
    padding: 0;
    padding: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url('../media/background.jpeg');
    background-position: center;
    background-size: cover;
    font-family: 'bangers', sans-serif;


}

.layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
    gap: 8px;
}

.game-container {
    display: grid;
    height: 75vh;
    width: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;

}

.scoreboard {
    width: 80vh;
    max-width: 80vh;
    position: absolute;
    top: 3px;
    z-index: 1000;
    justify-content: space-between;
    display: none;
    height: 4.2rem;
    border-radius: 10px;
    color: rgb(235, 230, 230);
    font-size: 2.3rem;
    text-align: center;
    

}
#scoreContainer{
    padding-top: 15px;
    font-family: 'honk';
    
}
#timerContainer{
    padding-top: 15px;
    font-family: 'honk';
}
.card {

    position: relative;
    perspective: 1000px;

    flex: 1;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: transform 1s;
}

.front {
    background-image: url('./../media/cardBack.png');
    background-size: contain;
    background-color: #514c4c;
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background-size: cover;
    padding-left: 4px
}

.card.flipped {
    transform: rotateY(180deg);
}

.right {
    border: 5px solid green;
}

.wrong {
    border: 5px solid red;
}

.won {
    background-color: transparent;
    pointer-events: none;
}

.card.won .front,
.card.won .back {
    background-color: transparent;
    pointer-events: none;
}

.card.won .front {
    background-image: none;
}

.avatar-option {
    width: 100px;
    max-height: 100px;
    cursor: pointer;
    opacity: 50%;
}

.avatar-option.selected {
    border: 2px solid green;
    opacity: unset;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent backdrop */
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 44px;
    border-radius: 10px;
    background-color: rgb(44, 40, 40);
    font-size: 2.3rem;
    text-align: center;
    box-shadow: inset -3px -3px 7px #5d5454b2, inset 3px 3px 7px rgba(114, 115, 117, 0.945);
    z-index: 1000;
}

.modalTitle {

    font-size: 72px;
    background: -webkit-linear-gradient(#e81cff, #40c9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.modalText{
    font-size: 38px;
    color:azure;
}

.modal-button {
    font-size: x-large;
    height: 80px;
    width: 150px;
   
    background-color: rgb(44, 40, 40);
    border: none;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #5d5454b2, inset 3px 3px 7px rgba(114, 115, 117, 0.945);
    margin-top: 20px;
    /* Spacing between the text and button */
}

.modal-button:hover {
    box-shadow: none;
    border: rgb(97, 97, 97) groove 3px;
    background-color: #40c9ff;
    background-image: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset -3px -3px 7px rgba(75, 77, 79, 0.945), inset 3px 3px 7px rgba(75, 77, 79, 0.945);
}

.scoreTime {

    position: absolute;
    background-color: #e81cff;
}